ul.group-list li {
  display: block;
  border: 1px solid var(--color-accent);
  border-radius: 0.5em;
  margin: 1em 0;
  padding: 1em;
}

ul.group-list li div {
  display: flex;
  justify-content: space-between;
  margin: 4px;
}

.content.create-group {
  margin: 0.5em;
  padding: 0.5em;
}

.content.create-group form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
  padding: 0.5em;
}

.content.create-group input {
  width: 80%;
  margin: 4px;
}

.content.create-group textarea {
  display: flex;
  justify-content: center;
  width: 80%;
  min-height: 100px;
  max-height: 150px;
  border: 1px solid var(--color-accent);
  border-radius: 0.5em;
  margin: 4px;
  resize: vertical;
  font-size: 16px;
}

.form-checkbox-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
}
