:root {
  --color-accent: #333;
  --color-accent-active: #444;
  --color-background: #fff;
  --color-background-body: #eee;
  --color-text: #000;
  --color-text-accent: #fff;
  --color-text-error: #f00;
  --color-text-error-active: #e60000;
  --color-text-confirm: #0f0;
  --color-text-confirm-active: #00e600;
  --nav-height: 3.5em;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: var(--color-text);
  background-color: var(--color-background-body);
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  flex-grow: 1;
}

a {
  color: inherit;
}

form {
  margin: 2em 0;
}

form input,
form button,
form textarea {
  width: 100%;
}

input,
button,
textarea,
a.btn {
  display: block;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid var(--color-accent);
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.5em;
  text-decoration: none;
}

button,
a.btn {
  cursor: pointer;
  color: var(--color-text-accent);
  background-color: var(--color-accent);
  text-align: center;
  align-content: center;
}

button:hover,
a.btn:hover {
  background-color: var(--color-accent-active);
}

button.create,
a.btn.create {
  color: var(--color-text-accent);
  background-color: var(--color-text-confirm);
}

button.create:hover,
a.btn.create:hover {
  color: var(--color-text-accent);
  background-color: var(--color-text-confirm-active);
}

button.delete,
a.btn.delete {
  color: var(--color-text-accent);
  background-color: var(--color-text-error);
}

button.delete:hover,
a.btn.delete:hover {
  color: var(--color-text-accent);
  background-color: var(--color-text-error-active);
}

p.error {
  color: var(--color-text-error);
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--color-text-accent);
  background-color: var(--color-accent);
  z-index: 1;
}

nav h1 {
  margin: 0;
  padding: 0;
}

nav .wrapper {
  display: flex;
  flex-direction: column;
}

nav a {
  text-decoration: none;
}

nav a:hover,
nav a.active {
  background-color: var(--color-accent-active);
}

nav ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav ul.middle {
  flex-grow: 1;
  margin: 1em 0;
}

nav li {
  height: var(--nav-height);
  width: 100%;
}

nav li > a,
nav li > span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  height: 100%;
}

nav .profile {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.5em
}

nav .profile img {
  height: 70%;
  border-radius: 50%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 2em;
  background-color: var(--color-background);
  margin: 1em;
}

.content.login h1 {
  text-align: center;
}

.box-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.date-list h2 {
  margin-top: 2em;
}

ul.event-list li {
  border: 1px solid var(--color-accent);
  border-radius: 0.5em;
  margin: 1em 0;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

/* Large screens only */
@media only screen and (min-width: 768px) {

  body {
    flex-direction: unset;
    padding-top: var(--nav-height);
  }

  nav {
    position: fixed;
  }

  nav h1 {
    font-size: 1em;
  }

  form input,
  form button {
    width: 24em;
  }

  nav .wrapper {
    flex-direction: row;
  }

  nav ul {
    flex-direction: row;
  }

  nav ul.middle {
    flex-direction: row;
    margin: unset;
  }

  nav li {
    width: unset;
  }

  .content.login {
    margin-top: calc(50vh - var(--nav-height));
    transform: translateY(-50%);
  }

}
