:root {
  --color-accent: #333;
  --color-accent-active: #444;
  --color-background: #fff;
  --color-background-body: #eee;
  --color-text: #000;
  --color-text-accent: #fff;
  --color-text-error: #f00;
  --color-text-error-active: #e60000;
  --color-text-confirm: #0f0;
  --color-text-confirm-active: #00e600;
  --nav-height: 3.5em;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: var(--color-text);
  background-color: var(--color-background-body);
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

form input,
form .btn,
form select,
form .select-dynamic
form textarea {
  width: 100%;
}

input,
select,
.select-dynamic,
textarea,
.btn {
  display: block;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid var(--color-accent);
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.5em;
  text-decoration: none;
}

input:focus-within,
select:focus-within,
.select-dynamic:focus-within,
textarea:focus-within {
  outline: 1px solid var(--color-text);
}

.btn {
  cursor: pointer;
  color: var(--color-text-accent);
  background-color: var(--color-accent);
  text-align: center;
  align-content: center;
}

.btn:hover {
  background-color: var(--color-accent-active);
}

.btn.create {
  color: var(--color-text-accent);
  background-color: var(--color-text-confirm);
}

.btn.create:hover {
  color: var(--color-text-accent);
  background-color: var(--color-text-confirm-active);
}

.btn.delete {
  color: var(--color-text-accent);
  background-color: var(--color-text-error);
}

.btn.delete:hover {
  color: var(--color-text-accent);
  background-color: var(--color-text-error-active);
}

.btn.alt {
  color: var(--color-text);
  background-color: var(--color-background);
}

.btn-favorite {
  font-size: 2em;
  color: orange;
  border: none;
  background: unset;
  cursor: pointer;
  padding: 0;
}

p.error {
  color: var(--color-text-error);
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

body > main {
  flex-grow: 1;
}

body > nav {
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--color-text-accent);
  background-color: var(--color-accent);
  z-index: 1;
}

body > nav h1 {
  margin: 0;
  padding: 0;
}

body > nav .wrapper {
  display: flex;
  flex-direction: column;
}

body > nav a {
  text-decoration: none;
}

body > nav a:hover,
body > nav a.active {
  background-color: var(--color-accent-active);
}

body > nav ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body > nav ul.middle {
  flex-grow: 1;
  margin: 1em 0;
}

body > nav li {
  height: var(--nav-height);
  width: 100%;
}

body > nav li > a,
body > nav li > span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  height: 100%;
}

body > nav .profile-info {
  height: 100%;
}

body > nav .profile-picture {
  height: 70%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 2em;
  background-color: var(--color-background);
  margin: 1em;
}

.content.login h1 {
  text-align: center;
}

.box-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 1em
}

.profile-picture {
  border-radius: 50%;
  border: 1px solid #aaa;
}

.content.profile .profile-picture {
  height: 4em;
}

.data-table table {
  width: 100%;
  border-collapse: collapse;
}

.data-table table th,
.data-table table td {
  padding: 0.5em;
  border: 1px solid #ddd;
  white-space: nowrap;
}

.data-table table thead {
  background: var(--color-accent);
  color: var(--color-text-accent);
}

.data-table nav {
  margin-top: 2em;
  padding: 1em;
  text-align: center;
}

.data-table nav a {
  padding: 0.5em;
}

.form-filter {
  width: unset;
  display: flex;
  gap: 0.5em
}

.form-filter input,
.form-filter .btn {
  padding: 0.5em;
  width: unset;
}

.data-table.users th:nth-child(2) {
  width: 100%;
}

.data-table.users td:nth-child(1) {
  text-align: center;
}

.data-table.users .profile-picture {
  width: 2em;
}


ul.date-list h2 {
  margin-top: 2em;
}

ul.event-list li {
  border: 1px solid var(--color-accent);
  border-radius: 0.5em;
  margin: 1em 0;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

/* Large screens only */
@media only screen and (min-width: 768px) {

  body {
    flex-direction: unset;
    padding-top: var(--nav-height);
  }

  form input,
  form select,
  form .select-dynamic,
  form .btn {
    width: 24em;
  }

  body > nav {
    position: fixed;
  }

  body > nav h1 {
    font-size: 1em;
  }

  body > nav .wrapper {
    flex-direction: row;
  }

  body > nav ul {
    flex-direction: row;
  }

  body > nav ul.middle {
    flex-direction: row;
    margin: unset;
  }

  body > nav li {
    width: unset;
  }

  .content.login {
    margin-top: calc(50vh - var(--nav-height));
    transform: translateY(-50%);
  }

}
