select[data-select-dynamic] {
  visibility: hidden;
}

.select-dynamic {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0.5em;
}

.select-dynamic input {
  width: 100%;
  padding: 0.5em;
  margin: 0;
  border: 0;
  outline: 0;
}

.select-dynamic .select-input {
  flex: 1 1 auto;
  min-width: 0.5em;
}

.select-dynamic .select-item {
  padding: 0.5em;
  border-radius: 0.5em;
  color: var(--color-text-accent);
  background: var(--color-accent);
}

.select-dynamic .select-item span[role=button] {
  font-size: 0.75em;
  margin-left: 1em;
  cursor: pointer;
}

.select-dynamic .select-results {
  position: absolute;
  left: 0;
  top: 100%;
  background: var(--color-background);
  margin-top: 0.5em;
  width: 100%;
  border: 1px solid var(--color-accent);
  padding: 0.5em;
  border-radius: 0.5em;
  max-height: 10em;
  overflow: auto;
}

.select-dynamic .select-results .result {
  padding: 0.5em;
  border-radius: 0.5em;
}

.select-dynamic .select-results .no-result {
  padding: 0.5em;
  color: var(--color-accent-active);
  text-align: center;
}

.select-dynamic .select-results .result:hover {
  color: var(--color-text-accent);
  background-color: var(--color-accent-active);
}
